<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <title>{% block title %}Inform Reference{% endblock %}</title>
    <!--<link type="text/css" rel="stylesheet" href="/static/informstyle.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="/static/informstyle.js"></script> -->
  </head>
  <body>
    {% block content %}{% endblock %}
    <!-- <script type="text/javascript">$(document).ready(informstyle);</script> -->
  </body>
</html>
