<!DOCTYPE html>
{% macro inform_form(form) %}
    <form id="{{ form.id }}" action="{{ form.browser_action }}"{% if form.method %} method="{{ form.browser_method }}"{% endif %}>
      {%- for field in form.fields %}
      {%   if is_select(field) %}
            {{ inform_form_select(field) }}
      {%   else %}
            {{ inform_form_input(field) }}
      {%   endif %}
      {%- endfor -%}
    </form>
{%- endmacro %}
{% macro inform_form_select(select) %}
  <select name="{{ select.name }}">
  {%- for optkey, optval, optsel in select.options() %}
    <option value="{{ optval }}"{% if optsel %} selected="selected"{% endif %}>{{ optkey }}</option>
  {%- endfor %}
  </select>
{%- endmacro %}
{% macro inform_form_input(input) %}
  <input name="{{ input.name }}" type="{{ input.type }}" />
{%- endmacro %}
{% macro inform_link_attr(link) %}
    {{ link | inform_value }}
{%- endmacro %}
{% macro inform_value_attr(value) %}
    {{ value | inform_value }}
</div>
{%- endmacro %}
{% macro inform_dl(obj, id=None) %}
  <dl{% if id %} id="{{ id }}"{% endif %}>
    {% for key, value in obj.items() %}
    <dt>{{ key | inform_value }}</dt>
    <dd>{{ value | inform_value }}</dd>
    {% endfor %}
  </dl>
{%- endmacro %}
{% macro inform_ol(iterable, id=None) %}
  <ol{% if id %} id="{{ id }}"{% endif %}>
    {% for obj in iterable %}
    <li>{{ obj | inform_value }}</li>
    {% endfor %}
  </ol>
{%- endmacro %}
{% macro inform_link(link, id=None) %}
          <a{% if link.id %} id="{{ link.id }}"{% endif %} href="{{ link.href }}"></a>
{%- endmacro %}
<html>
  <body>
      {% if errors %}
      <ul id="errors">
      {%   for error in errors %}
        <li>{{ error }}</li>
      </ul>
      {%   endfor %}
      {% endif %}

      {% if messages %}
      <ul id="messages">
      {%   for message in messages %}
        <li>{{ message }}</li>
      </ul>
      {%   endfor %}
      {% endif %}

      {# loop through the inform resource attributes #}
      {% for attr in attributes %}
      {%   if is_form(attr) %}
    {{ inform_form(attr) }}
      {%   elif is_link(attr) %}
      {{ inform_link(attr) }}
      {%   else %}
      {{ inform_value_attr(attr) }}
      {%   endif %}
      {% endfor %}

		<script src="/informed.js"></script>
	</body>
</html>
